<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <div id="odometer" class="odometer"><%= begin %></div>
    <input type="hidden" id="end" value=<%= end %>>
  </body>
  <% include partials/script %>
</html>
